@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,600;1,100;1,200;1,600&display=swap');

/* global rule */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
    scroll-behavior: smooth;
}

.card {
    border-radius: 10px;
    padding: 2em;
    margin: 0 20px 20px 30px;
    box-shadow: rgb(28 32 93 / 24%) 0px 2px 8px 0px;
}




/* Navigation */

header {
    background-color: #fff;
    width: 100%;
    position: fixed;
    align-items: center;
    padding: 20px 40px 20px 40px;
    display: flex;
    justify-content: space-between;
    box-shadow: rgb(28 32 93 / 24%) 0px 2px 8px 0px;
}

.logo {
    gap: 20px;
    align-items: center;
    display: flex;
}

nav {
    overflow: hidden;
}

nav a {
    float: left;
    font-size: 16px;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: black;
    padding: 10px 10px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

nav a:hover,
.dropdown:hover .dropbtn {
    background-color: red;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}



/* Hero section */
main {
    gap: 10px;
    display: flex;
    flex-direction: column;
}

#home {
    font-weight: 600;
    padding: 12em;
    color: white;
    font-size: 22px;
    display: flex;
    flex-direction: column;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(asset/images/hero2.jpeg);
}

#home h2 {
    color: red;
}

button {
    margin-top: 20px;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 5px;
    background-color: red;
    width: 200px;
    height: 50px;
}

button a {
    color: inherit;
    font-size: 17px;
    font-weight: bold;
    text-decoration: none;
}

button:hover {
    color: black;
    background-color: white;
    transition: 0.3s ease-in-out;
}

/* Profile */

#profile {
    gap: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

table,
th,
td {
    display: flex;
    flex-direction: column;
}

/* visi misi */

#visimisi {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
}

.visi,
.misi {
    text-align: center;
    align-items: center;
    padding: 20px;
    width: 50%;
}

.visi {
    border-right: 1px solid black;
}

.text2 {
    padding: 30px 20px 0 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}